<br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3 jumbotron">
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">FirstName</label>
          <input type="text" class="form-control" formControlName="firstName">
          <div *ngIf="submitted && registerForm.get('firstName').errors" class="badge badge-danger">
            <div *ngIf="registerForm.get('firstName').errors.required">firstName is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="name">LastName</label>
          <input type="text" class="form-control" formControlName="lastName">
          <div *ngIf="submitted && registerForm.get('lastName').errors" class="badge badge-danger">
            <div *ngIf="registerForm.get('lastName').errors.required">firstName is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Password</label>
          <input type="password" class="form-control" formControlName="password">
          <div *ngIf="submitted && registerForm.get('password').errors" class="badge badge-danger">
            <div *ngIf="registerForm.get('password').errors.required">Password is required</div>
          </div>
        </div>

        <div class="form-group">
          <label for="name">Confirm Password</label>
          <input type="password" class="form-control" formControlName="confirmPassword">
          <div *ngIf="submitted && registerForm.get('confirmPassword').errors" class="badge badge-danger">
            <div *ngIf="registerForm.get('confirmPassword').errors.required">Confirm Password is required</div>
            <div *ngIf="registerForm.get('confirmPassword').errors.confirmPasswordValidator">Passsword and
              Confirm Password didn't match. </div>
          </div>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
    <div class="col-md-8" *ngIf="dataList.length > 0">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Password</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of dataList;let i = index">
            <td>{{i+1}}</td>
            <td>{{item.firstName}}</td>
            <td>{{item.lastName}}</td>
            <td>{{item.password}}</td>
           <td><a> <span class="badge badge-primary" (click)="editMethod(item, i)">Edit</span></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
